body {
    overflow-y: scroll;
    font-size: 0.95rem;
}

.TopMatchesTable td:last-child {
    padding-left: 20px;
}
.TopMatchesTable td:first-child {
    min-width: 50px;
}

.ResultsTable {
    width: 100%;
}

.ResultsTable tr {
    margin-bottom: 2px;
}

.ResultsTable td {
    /*background-color: whitesmoke;*/
    padding: 4px 10px;
    border-top: dotted 1px gray;
}

mark {
    padding: .2em 0;
    padding-left: 1px;
    margin-left: -1px;
    background-color: yellow;
}