body {
    overflow-y: scroll;
}

.TopMatchesTable {
    width: 100%;
}
.ResultsTable {
    border-spacing: 4px;
    border-collapse: separate;
    width: 100%;
}
.ResultsTable tr {
    margin-bottom: 2px;
}
.ResultsTable td {
    background-color: whitesmoke;
    padding: 2px 10px;
}