.ResultsTable {
  //width: 100%;
  font-size: 14px;

  tr {
    margin-bottom: 2px;

    &:last-child td {
      border-bottom: solid 1px #DDD;
    }
  }

  tr:hover {
    td {
      background: #fffcb3;
      white-space: normal;
    }
  }

  td, th {
    padding: 2px 5px;
    border-top: solid 1px #DDD;
    border-left: solid 1px #DDD;
    background-color: white;
    word-break: break-word;

    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;

    &:last-child {
      border-right: solid 1px #DDD;
    }

    &.longLine {
      width: 200px;
      min-width: 200px;
    }

    &.withLongWords {
      word-break: break-all;
    }

    &.rowNumber {
      background-color: transparent;
      font-size: 0.8em;
      width: 50px;
      text-align: center;
      padding: 5px;
      color: gray;
    }
  }

  th {
    background-color: #DDD;
    word-break: inherit;
  }
}

.TopMatchesTable {
  width: 100%;
  font-size: 0.9em;
  td:last-child {
    padding-left: 20px;
  }
  td:first-child {
    min-width: 50px;
  }
}

.markj {
  padding: 0;
  background-color: #fffcb3;
  border-radius: 5px;
  //box-shadow: 0px 0px 3px black;
}
